//* { border:red 1px dotted; }

$background: #191919;
$pink: #ffb0fa;
$salmon:#FF819E;
$purple: #271034;
$light-blue:#6BFFFF;
* { margin:0; padding: 0; }
body, html { background: $background; min-height: 100% }

@font-face { font-family: 'VCR'; src: url('/fonts/VCR_OSD_MONO_1.001.ttf'); }
@import "misc";
@import "header";
@import "blog";
@import "footer";
/*! bulma.io v0.7.2 | MIT License | github.com/jgthms/bulma */
@import "~bulma";

html { overflow-y: auto }
.rgb-shift {
  color:white;
  text-shadow: -.0625rem -.0625rem 0 #6BFFFF, .0625rem .0625rem 0 #FF819E;
}

