//* { border:red 1px dotted; }
* { margin:0; padding: 0; }
body, html { background: #191919; height: 100% }

$pink: #ffb0fa;
$purple: #271034;

@import "misc";
@import "header";
@import "blog";
/*! bulma.io v0.7.2 | MIT License | github.com/jgthms/bulma */
@import "../../../node_modules/bulma/sass/utilities/_all";
@import "../../../node_modules/bulma/sass/base/_all";
@import "../../../node_modules/bulma/sass/elements/_all";
@import "../../../node_modules/bulma/sass/components/_all";
@import "../../../node_modules/bulma/sass/grid/_all";
@import "../../../node_modules/bulma/sass/layout/_all";

html { overflow-y: auto }

