//* { border:red 1px dotted; }

@font-face { font-family: 'VCR'; src: url('/fonts/VCR_OSD_MONO_1.001.ttf'); }
@import "variables";
@import "misc";
@import "header";
@import "blog";
@import "footer";
@import "~bulma";
@import "~aesthetic-css/aesthetic.css";

html { overflow-y: auto }
* { margin:0; padding: 0; }
body, html { background: $background; min-height: 100% }

.rgb-shift {
  color:white;
  text-shadow: -.0625rem -.0625rem 0 #6BFFFF, .0625rem .0625rem 0 #FF819E;
}

