/* ====================================
Variables
==================================== */
$menuHeight: 400px;
$colorItem1: $kosmic-purple-red;
$colorItem2:$kosmic-purple;
$colorItem3:$kosmic-light-purple;
$colorItem4:$kosmic-pink-salmon;
@import "animation";
@import "header";
