/* ====================================
Background
==================================== */
.header {
  z-index: 10;
  width:100%;
  max-width: 100%;
  height: $menuHeight;
  background: url('/img/raining_men_purple.png') center center;
  background-size: cover;
  display: flex;
  border-bottom: 1px #bbb solid;
  &--scrolled {
    height:50px;
  }
  &__info {
    margin: auto;
    text-align: center;
    p {
      margin-bottom: 3px;
    }
    &__pseudo {
      font-family: 'VCR', serif;
      font-size: 1.5rem;
    }
    &__japanese-pseudo {
      font-size: 1.2rem;
      color: black;
    }
    &__catcher {
      letter-spacing: 4px;
      font-family: Times New Roman, serif;
    }
  }
}

.nav-container {
  z-index: 10;
  position: absolute;
  top: $menuHeight - 15px;
  font-family: 'Roboto Mono', sans-serif;
  text-transform: lowercase;
  .container {
    padding-top:0;
    padding-bottom: 0;
  }
  width:100%;
  margin:0 auto;
  &--sticky {
    position: fixed;
    top:0;
    background: rgba(0,0,0,0.5);
    .nav {
      margin:10px 0;
    }
  }
}
.nav {
  top:-15px;
  &__item {
    font-size: 1rem;
    transition: all ease 0.5s;
    border: 2px solid #36394c;
    color: #49576d;
    padding: 2px 5px;
    background: #1e1e22;
    margin: 0px 3px;
    &:hover {
      color:#546c91
    }
  }
}
