.footer {
  padding:2rem 0;
  display: flex;
  font-family: 'VCR', serif;
  background: url(https://media.giphy.com/media/3o6ZtmDdoNh2WZOMlG/giphy.gif) center center; //bubble  filter:blur(1px);
  background-size:cover;
  a {
    display: block;
    margin:0 auto;
  }
  &__powered-by {
    margin: 0 auto;
    width: 80%;
  }
}



