/* Fonts */
@font-face { font-family: 'VCR'; src: url('/fonts/VCR_OSD_MONO_1.001.ttf'); }

/* Based on vapelot matplotlib extension for vaporwave * @link https://github.com/dantaki/vapeplot */
$mallsoft-pink: #fbcff3;
$mallsoft-salmon: #f7c0bb;
$mallsoft-grey: #acd0f4;
$mallsoft-purple: #8690ff;
$mallsoft-blue: #30bfdd;
$mallsoft-green: #7fd4c1;

/* Based on Natsukis Kosmic Colors set * @link https://natsukis.livejournal.com/4353.html */
$kosmik-purple-red:#c6acc9;
$kosmic-red:#ecb4bf;
$kosmic-orange:#fdd6b5;
$kosmic-yellow:#fdf3b8;
$kosmic-green:#a7e4ae;
$kosmic-blue-green:#bfffe6;
$kosmic-dark-blue:#8699d1;
$kosmic-dark-pink:#dba9ce;
$kosmic-light-blue:#aae7e8;
$kosmic-salmon:#efe6eb;
$kosmic-blue:#47d1d5;
$kosmic-pink:#e8d2ff;
$kosmic-purple:#c1d1fd;
$kosmic-light-purple:#d9e0fc;
$kosmic-pink-salmon:#ffe0f1;

$background: #191919;
$pink: #ffb0fa;
$salmon:#FF819E;
$purple: #271034;
$light-blue:#6BFFFF;
